*.a
c3c/c3c
config.mk
*.core
*.css
*.err
*.gcno
*.html
ic3/ic3
ic3/ic3.asan
ic3/ic3.cov
ic3/ic3.debug
*.la
.libs/
*.lo
*.o
*.out
*.ret
test/c3_test
test/c3_test.asan
test/c3_test.cov
test/c3_test.debug
ucd2c/ucd2c
